@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
* {
  margin: 0;
}

.header {
  background-color: #a01717;
  padding: 0 80px;
  font-family: "Lato", sans-serif;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
}
.header .navbar .logo img {
  max-width: 100px;
}
.header .navbar .pesquisa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .navbar .pesquisa input[type=text] {
  width: 450px;
  height: 35px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.29);
  border-top: 3px solid rgba(0, 0, 0, 0);
  border-bottom: 3px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}
.header .navbar .pesquisa input[type=text]:focus {
  border-bottom: 3px solid #739ab9;
}
.header .navbar .perfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header .navbar .perfil a {
  display: flex;
  align-items: center;
  color: white;
  text-decoration: none;
  transition: 0.3s;
  gap: 4px;
}
.header .navbar .perfil a img {
  max-width: 40px;
  border: solid 2px rgb(255, 255, 255);
  border-radius: 100%;
  transition: 0.3s;
}
.header .navbar .perfil a:hover {
  color: #739ab9;
}
.header .navbar .perfil a:hover img {
  border: solid 2px #739ab9;
}
.header .subNavbar ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-top: 10px;
}
.header .subNavbar ul a {
  text-decoration: none;
  color: white;
}
.header .subNavbar ul a li {
  border-top: 2px solid rgb(255, 255, 255);
  height: 30px;
  list-style: none;
  width: 170px;
  text-align: center;
  transition: 0.3s;
  border-radius: 3px 3px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 3px 3px 20px -5px rgba(0, 0, 0, 0.29);
}
.header .subNavbar ul a li:hover {
  cursor: pointer;
  border-top: 2px solid #739ab9;
  color: #739ab9;
}

.main .banner {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .banner img {
  max-width: 90%;
}

.loginAll {
  display: flex;
  flex-direction: column;
}
.loginAll .navbarLogin {
  width: 100%;
}
.loginAll .navbarLogin img {
  max-width: 120px;
}

.loginAllCad {
  display: flex;
  flex-direction: column;
}
.loginAllCad .navbarLoginCad {
  width: 100%;
}
.loginAllCad .navbarLoginCad img {
  max-width: 110px;
}
.loginAllCad .loginBodyCad {
  display: flex;
  display: flex;
  justify-content: center;
  font-family: "Lato", sans-serif;
}
.loginAllCad .loginBodyCad > form {
  margin-top: -40px;
  padding: 40px;
  width: 400px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #739ab9;
  border-radius: 10px;
  box-shadow: 10px 9px 32px -4px rgba(0, 0, 0, 0.12);
}
.loginAllCad .loginBodyCad > form h3 {
  color: rgb(71, 71, 71);
  margin-bottom: 30px;
}
.loginAllCad .loginBodyCad > form > p {
  width: 100%;
  display: flex;
}
.loginAllCad .loginBodyCad > form > p input {
  width: 100%;
  padding: 0;
  margin-bottom: 15px;
  height: 32px;
  border: none;
  outline: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #f5f5f5;
}
.loginAllCad .loginBodyCad > form > p input[type=submit] {
  margin-top: 15px;
  cursor: pointer;
  background-color: rgb(219, 0, 0);
  color: white;
  transition: 0.5s;
  height: 38px;
  font-size: 16px;
}
.loginAllCad .loginBodyCad > form > p input[type=submit]:hover {
  background-color: rgb(255, 79, 79);
}
.loginAllCad .loginBodyCad > form :nth-child(9) {
  display: flex;
  align-items: center;
}
.loginAllCad .loginBodyCad > form :nth-child(9) .linha {
  background-color: #739ab9;
  width: 100%;
  height: 1px;
  margin: 20px 5px;
  border-radius: 3px;
}
.loginAllCad .loginBodyCad > form .googleBtn {
  display: flex;
  border: solid 2px rgb(71, 71, 71);
  justify-content: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  height: 40px;
  border-radius: 5px;
}
.loginAllCad .loginBodyCad > form .googleBtn div {
  height: 100%;
  display: flex;
  align-items: center;
}
.loginAllCad .loginBodyCad > form .googleBtn img {
  max-width: 20px;
  max-height: 20px;
  margin: 5px;
}

.allPerfil {
  margin: 30px;
  border-radius: 20px;
  box-shadow: 10px 9px 32px -4px rgba(0, 0, 0, 0.368);
  display: flex;
  font-family: "Lato", sans-serif;
}
.allPerfil .esquerdaPerfil {
  border-right: solid 2px rgb(71, 71, 71);
  padding: 50px;
}
.allPerfil .esquerdaPerfil .perfilImg {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.allPerfil .esquerdaPerfil .perfilImg .nomePerfil {
  font-size: 18px;
  margin-bottom: 40px;
}
.allPerfil .esquerdaPerfil .perfilImg img {
  max-width: 130px;
  background-color: #a01717;
  border-radius: 100%;
  border: solid 2px rgb(71, 71, 71);
  margin-bottom: 15px;
}
.allPerfil .esquerdaPerfil .colunaInfsEsq ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 40px;
}
.allPerfil .esquerdaPerfil .colunaInfsEsq ul li {
  list-style: none;
  height: 40px;
  font-size: 18px;
  border-left: solid 1px rgb(71, 71, 71);
  display: flex;
  align-items: center;
  padding-left: 10px;
  border-radius: 2px;
}
.allPerfil .esquerdaPerfil .colunaInfsEsq ul li a {
  text-decoration: none;
  color: #739ab9;
}
.allPerfil .direitaPerfil .bannerPerfil {
  padding: 30px;
}
.allPerfil .direitaPerfil .bannerPerfil img {
  max-width: 100%;
}
.allPerfil .direitaPerfil .infPerfil {
  display: flex;
  justify-content: space-between;
}
.allPerfil .direitaPerfil .infPerfil .infDir {
  height: 100%;
  justify-content: baseline;
}
.allPerfil .direitaPerfil .infPerfil .infDir img {
  max-width: 200px;
}/*# sourceMappingURL=style.css.map */